In [1]:
import pandas as pd

In [21]:
df = pd.DataFrame(['Lech Wałęsa','Fąfel Bąbel'])
df

             0
0  Lech Wałęsa
1  Fąfel Bąbel

In [24]:
from unidecode import unidecode

for column in df.columns:
    df[column] = [unidecode(x) for x in df[column].values]
df

             0
0  Lech Walesa
1  Fafel Babel

In [49]:
from pytz import utc, timezone
from datetime import datetime
from time import mktime
from numpy import datetime64

tt = ['2011-01-01 00:00:00', '2013-03-03 03:03:03']
tt = [datetime.strptime(x, '%Y-%m-%d %H:%M:%S') for x in tt]
tt = [datetime64(x) for x in tt]

df = pd.DataFrame(data = {'BaseDateTime': tt})
df

         BaseDateTime
0 2011-01-01 00:00:00
1 2013-03-03 03:03:03

In [51]:
input_dt = pd.to_datetime(df["BaseDateTime"])
input_dt

tz = timezone('US/Eastern')

#mktime(timezone('US/Eastern').localize(input_dt).utctimetuple())
    #OR 
#mktime(utc.localize(input_dt).utctimetuple())

TypeError: function takes exactly 9 arguments (2 given)